/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos {
  width: 100%;
  height: 100%px;
  /* border: 3px solid pink; */
  color: black;
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 0;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: black;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: black;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid yellow;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #000000;
}

.dash {
  width: 75%;
  position: relative;
  left: 25%;
  background-color: silver;
  height: 100%;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}


.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50px;
  margin-top: 6%;
  /* background-color: #c7c7c7; */
}

.quiz-dash {
  align-items: center;
  text-align: center;
}

.topic {
  margin-top: 8%;
}

.btns-dash {
  float: left;
  margin-left: 125px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  gap: 43%;
}

.quiz_campo {
  width: 400px;
  background-color: #000000;
  border-radius: 4px;
  color: #ffffff;
}

.pesq {
  white-space: nowrap;
  align-items: center;
  display: flex;
  width: 230px;
  border-radius: 4px;
  background-color: #000000;
  height: 30px;
  color: #ffffff;
}

.bonus {
  font-size: 20px;
  float: right;
  display: flex;
  margin:auto;
  width: 10%;
  margin-bottom: 10%;
  background: #000000;
  color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 2% 10%;
}

.bonus:hover{
  background-color: #000000af;
}

.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  color: #000000;
  font-weight: bold;
  position: relative;

}

.popup a {
  border-radius: 4px;
  color: #6b6b6b;
  cursor: pointer;
  padding: 6px 10px;
  text-decoration: none;
}

.popup-close {
  height: 13%;
  width: 10%;
  background-color: transparent;
  border-radius: 40px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.popup-close:hover{
  background-color: red;
  color: #ffffff;
}


.graph {
  background-color: silver;
  align-self: center;
  width: 3030px;
  height: 615px;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: black;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.media {
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 20%;
  position: relative;
  background-color: silver;
}

.rank{
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
}

.rank:hover{
  background-color: white;
  color: #000000;
  font-weight: bold;
}

